
.cursofocus {
    background-image: url(/img/Logo\ Final\ Version-20.png);
    background-color: var(--color-principal-intenso);
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: row;
    justify-content: space-between;
}

.portada{
    margin-left: 5%;
   
    
}

.portada__titulo{
    color: white;
    text-align: center;
    font-size: clamp(2rem,5vw,4.5rem);
    font-family: var(--fuente-principal);
}

.portada__imagen{
    width: 100%;
}



/* modificando */


.cursofocus__texto{
    
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 8rem;
    width: 65%;
    background-color: white;
    border-bottom-left-radius: 1100px;
    box-shadow: -6px 4px 20px rgb(50, 49, 49);
    
}


/* original */
/* .cursofocus__texto{
    display: flex;
    flex-direction: column;
    padding: 8rem;
    width: 60%;
    background-color: white;
    margin-right: 5%;
    box-shadow: 10px 10px 15px rgb(58, 58, 58);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    
} */

.cursofocus__titulo{
    font-size: clamp(2rem,5vw,4.5rem);
    color: var(--color-principal-intenso);
    text-align: right;
    font-family: var(--fuente-principal);
}

.cursofocus__parrafo{
    
    margin-left: 20%;
    text-align: justify;        /* Alinea el texto a la derecha */
    text-align-last: right;
    width: 80%;
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    line-height: 1.5;
}

.cursofocus__accion{
    
    margin-left: 50%;
    text-align: justify;        /* Alinea el texto a la derecha */
    text-align-last: right;
    font-family: var(--fuente-principal);
    font-weight: bold;
    font-size: 1.2rem;

}
.cursofocus__descargar{
    text-align: center;
    align-self: flex-end;
    width: 25%;
    background-color: var(--color-principal-intenso);
    color: white;
    padding: 1rem;
    font-size: 1em;
    border-radius: 1rem;
    text-decoration: none;
    align-items: end;
}

@media screen and (max-width: 1024px) {
    .portada{
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 0;
       
        
    }
    
.cursofocus {
   flex-direction: column;
}

.cursofocus__texto{

    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 8rem;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 0;
    box-shadow: none;
    
}

.cursofocus__titulo{
    font-size: 2.5rem;
    text-align: center;
    
}

.cursofocus__parrafo{
    
    margin-left: auto;
    text-align: justify;        /* Alinea el texto a la derecha */
    text-align-last: auto;
    width: 100%;
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    line-height: 1.5;
}

.cursofocus__accion{
    
    margin-left: auto;
    text-align: auto;        /* Alinea el texto a la derecha */
    text-align-last: auto;
    font-family: var(--fuente-principal);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;

}

.cursofocus__descargar{
    margin-top: 2rem;
    text-align: center;
    align-self: flex-end;
   width: 100%;
    background-color: var(--color-principal-intenso);
    color: white;
    padding: 1rem;
    font-size: 1em;
    border-radius: 1rem;
    text-decoration: none;
    align-items: end;
}

}