:root {
    --fuente-principal: 'Poppins', sans-serif;
    --color-principal:#5B48FC;
    --color-principal-intenso:#6344ff;
    --color-secundario:rgb(5, 189, 223);
    --custom-gradient: radial-gradient(circle at 9% 5%, rgba(5, 189, 223, 1) 5%, rgba(62, 94, 250, 1) 52%, rgba(91, 72, 252, 1) 95%), radial-gradient(circle at 9% 95%, #5b48fc, #5b48fc);


}
*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 950px;
   
}
.prueba{
    height: 400px;
}


@media(max-width:1024px){

    .container{
        min-height: auto;
       
    }
    

}