@media screen and (max-width: 1024px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3); /* Cambia el color de fondo según tus preferencias */
        position: absolute;
        top: 62px; /* Ajusta la posición según tus necesidades */
        left: 0;
        width: 100%;
        backdrop-filter: blur(10px);
    }

    .menu.active {
        display: flex;
    }

    .menu__item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2rem;
        text-align: center;
    }

    .menu__item:hover {
        background-color: white;   /* Cambia el color de fondo en hover según tus preferencias */
    }
}

/* Agrega un botón de hamburguesa para desplegar el menú */
.menu-toggle {
    
    display: none;
    cursor: pointer;
}

/* Estilos para el icono de hamburguesa */

.toogle__icon{
    font-size: 1.5rem;
}
/* Media query para mostrar el botón de hamburguesa en dispositivos móviles */
@media screen and (max-width: 1024px) {
    .menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

/* Estilos para el menú desplegable en dispositivos móviles en modo "activo" */
@media screen and (max-width: 1024px) {
    .menu.active {
        display: flex;
        backdrop-filter: blur(10px);
    }
}